{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_column"}
		<div id="change-password-form" style="display:none">
			<h1>Change Password</h1>
			
			<form action="{$ENV.DATAFACE_SITE_HREF}" method="post">
				<input type="hidden" name="-action" value="change_password"/>
				
				<table>
					<tr>
						<th>
							<label>Old Password</label>
						</th>
						<td>
							<input type="password" name="--current-password" id="--current-password"/>
						</td>
					</tr>
					<tr>
						<th>
							<label>New Password<label>
						</th>
						<td>
							<input type="password" name="--password1" id="--password1"/>
						</td>
					<tr>
						<th>
							<label>Retype New Password</label>
						</th>
						<td>
							<input type="password" name="--password2" id="--password2"/>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="submit-cell">
							<input type="submit" value="Change Password" id="change-password-submit"/>
						</td>
					</tr>
				
				
				</table>
			
			</form>
		
		</div>
		
		<div id="change-password-complete" style="display:none">
		
			<h1>Password Successfully Changed</h1>
		
		</div>
	
	{/fill_slot}

{/use_macro}