.tabset_tabs	{ margin:0; padding:0; list-style-type:none; position:relative; z-index:2; white-space:nowrap }
.tabset_tabs li	{ margin:0; padding:0; display:inline }
.tabset_tabs a	{
	color: #339 ! important;
	background-color: #def ! important; opacity:0.2;
	border: 1px solid #99c;
	text-decoration: none;
	padding: 0 0.6em;
	border-left-width: 0;
	border-bottom: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.tabset_tabs a:hover	{
	color: #00c ! important;
	background-color: #eff ! important; opacity:0.6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.tabset_tabs a.active	{
	color: black ! important;
	background-color: #bedcf8 ! important; opacity:1.0;
	cursor: default;
	border-bottom: white;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	border-bottom-width: 1px;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: white;
	border-top-style: solid;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
}

.tabset_tabs li.firstchild a	{ border-left-width:1px }

.tabset_content	{
	border: 1px solid #436976;
	background-color: white;
	position: relative;
	z-index: 1;
	padding: 0.5em 1em;
	display: none;
	background-image: url('weather_box.png');
}
.tabset_label	{ display:none }

.tabset_content_active	{ display:block }

@media aural{
	.tabset_content,
	.tabset_label	{ display:block }
}