{use_macro file="Dataface_Main_Template.html"}
    {fill_slot name="main_column"}
        <!--<h1>Welcome to the Air Force Management System (AFMS)</h1>
        
        <p>This system allows you to manage your Customer Invoicing.  

            <ul>
                <li><img src="{$ENV.DATAFACE_URL}/images/file.gif"/> 
				<a href="index.php?-action=login&-cursor=0&-skip=0&-limit=30&-mode=list">Login</a>
                </li>
            </ul> -->
			
		{block name="my_special_block"}
    {/fill_slot}
{/use_macro}